  <% team_members.each do |team_member| %>
    <%= link_to restaurant_team_member_path(@restaurant, team_member) do %>
      <div class='team_member_card'>
        <% if team_member.photo.key %>
          <%= cl_image_tag(team_member.photo.key, class: 'avatar') %>
        <% else %>
          <%= image_tag('Avatar.png', class: 'avatar') %>
        <% end %>
        <p><%= team_member.first_name %> <%= team_member.last_name %></p>
      </div>
    <% end %>
  <% end %>
