<h1>This is a show page</h1>
<link href="css/star-rating.css" rel="stylesheet">

<div class="container">
  <div class="row">
    <div class="col-xs-4">

<%= simple_form_for [@team_member, @table], html: {data: {form_target: "form"}, remote: true} do |f| %>
        <h5>Amount in the bill</h5>
        <%= f.input :tip, placeholder: "Your tip", class: "tip-input" %>
        <%= f.input :review, placeholder: "Add your feedback" %>
        <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience", input_html: {data: {controller: "star-rating"}} %>
        <%= f.submit "Add", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
 </div>
