<div class="card-2">
    <div style="text-align: center!important; margin-bottom: 1em!important;">
        <%= image_tag('ttips.png', height: '', width: '', class: 'img1') %>
    </div>
</div>

<div class="card-2">
    <div style="text-align: center!important; margin-bottom: 1em!important;">
        <%= image_tag('atips.png', height: '', width: '', class: 'img1') %>
    </div>
</div>

<div class="card-2">
    <div style="text-align: center!important; margin-bottom: 1em!important;">
        <%= image_tag('trating.png', height: '', width: '', class: 'img1') %>
    </div>
</div>

<div class="card-2">
    <div style="text-align: center!important; margin-bottom: 1em!important;">
        <%= image_tag('frating.png', height: '', width: '', class: 'img1') %>
    </div>
</div>

<div class="card-2">
  <h3>Today's popular times</h3>
    <div style="text-align: center!important; margin-bottom: 0.8em!important;">
        <%= image_tag('chart1.png', height: '', width: '', class: 'img1') %>
    </div>
</div>
