<div class="first-div">
  <h2>Hello,</h2>
  <h2><%= @user.first_name %> <%= @user.last_name %> 🤘</h2>
</div>

<div data-controller="restaurant-data">
   <div>
     <%= render "form" %>
     <%= link_to '+', new_restaurant_path, class: "btn1" %>
   </div>

  <div class="second-div">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link button1" id="pills-dashboard-tab" data-bs-toggle="pill" data-bs-target="#pills-dashboard" type="button" role="tab" aria-controls="pills-dashboard" aria-selected="false">Dashboard</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link button2 active" id="pills-list-tab" data-bs-toggle="pill" data-bs-target="#pills-list" type="button" role="tab" aria-controls="pills-list" aria-selected="false">Team Members</button>
      </li>
    </ul>
  <div>

  <div class="third-div">
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade" id="pills-dashboard" role="tabpanel" aria-labelledby="pills-dashboard-tab">
        <%= render "figures" %>
      </div>
      <div class="tab-pane fade show active" id="pills-list" role="tabpanel" aria-labelledby="pills-list-tab">
        <%= render "list" %>
      </div>
     </div>
   </div>
  </div>
</div>
