<div class="first-div">
  <h2>Hello,</h2>
  <h2><%= @user.first_name %> <%= @user.last_name %> 🤘</h2>
</div>

<div data-controller="restaurant-data">
   <div>
     <%= render "form" %>
     <%= link_to '+', new_restaurant_path, class: "btn1" %>
   </div>

  <div data-restaurant-data-target="tabs">
    <%= render 'tabs' %>
  </div>
</div>
