<%= render "shared/navbar" %>
<%= button_to "Log out", destroy_user_session_path, method: :delete %>
<div>
  <h1>Hello,</h1>
  <h1><%= @user.first_name %> <%= @user.last_name %></h1>
</div>
<div>
  <%= render "form" %>
</div>
<div>
  <div>
    <h2>Dashboard</h2>
  </div>
  <div>
    <h2>Team members</h2>
  </div>
</div>
<div>
  <%= render "figures" %>
  <%#= render "list_team_members" %>
</div>
