<div class="payment-container">
  <div class="first-div">
      <div class="d-flex justify-content-center">
        <% if @team_member.photo.key %>
          <%= cl_image_tag(@team_member.photo.key, class: 'avatar-large') %>
        <% else %>
          <%= image_tag('Avatar.png', class: 'avatar1') %>
        <% end %>
      </div>
  <div class="d-flex justify-content-center" style="margin: 10px">
    <%= image_tag('twolines.png', alt: 'two lines', class:'')%>
  </div>
  <div class="d-flex justify-content-center">
    <div style="margin-bottom: 20px;"><h2><%= @team_member.first_name %></h2></div>
  </div>
  </div>
  <div class="card-1" style="padding: 6px">
    <div class="second-card">
      <div class="row d-flex justify-content-center">
        <div class="text1">
          <p class="text1">Your payment was successfully processed</p>
        </div>
        <div class="text2">
          <h2 class="text2"><strong>Thank you for using<br>TIP.<span style="color: #E87121">ME</span></strong></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center" style="margin-top: 20px;">
    <%= image_tag('logo2.png', alt: 'Tip-Me logo', class: 'logo1') %>
  </div>
</div>

