<div class="payment-container">
  <div class="first-div">
      <div class="d-flex justify-content-center">
        <% if @team_member.photo.key %>
          <%= cl_image_tag(@team_member.photo.key, class: 'avatar1') %>
        <% else %>
          <%= image_tag('Avatar.png', class: 'avatar1') %>
        <% end %>
      </div>
      <div class="d-flex justify-content-center" style="margin: 15px">
        <%= image_tag('twolines.png', alt: 'two lines', class:'lines2')%>
      </div>
      <div class="d-flex justify-content-center" style="padding-bottom: 50px">
        <p class="text3"><%= @team_member.first_name %> <%= @team_member.last_name %></p>
      </div>
