<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
  <div class="big-bg">

    <div>
      <%= image_tag('logo', alt: 'Tip-Me logo', class: 'logo')%>
    </div>

    <!-- Section: Design Block -->
    <section class="text-center">
      <!-- FIRST DIV TEXT+DATE -->
      <div class="first-div1">
        <h2>Welcome 👋</h2>
        <div class="date">
          <script>
          const options = {
            weekday: "long",
            year: "numeric",
            month: "long",
            day: "numeric",
          }
          date = new Date().toLocaleDateString("en-GB", options);
          document.write(date);
          </script>
      </div>
      </div>
      <!-- Second DIV FORM-INPUT -->
        <div class="second-div">
          <div class="card-1 card-body py-5 px-md-5"> <!-- HERE -->
            <div class="row d-flex justify-content-center">
              <div class="col-lg-8">
                <form class="">
                  <div style="margin-top: -15px">
                      <%= f.input :email, label: false, required: false, autofocus: true, input_html: { class: "form-style", autocomplete: "email", placeholder: "Email ..." } %>
                  </div>
                  <div>
                      <%= f.input :password, label: false, required: false, input_html: { class: "form-style", autocomplete: "current-password", placeholder: "Password ..." } %>
                  </div>
                </form>
                <div class="d-flex justify-content-center">
                  <%= f.input :remember_me, label: false, input_html: { class: "checkbox1" }, as: :boolean if devise_mapping.rememberable? %><p>Remember me</p>
                </div>
                <div class="form-actions" style="margin-top: 2px">
                  <%= f.button :submit,"Sign in", class: "btn1" %>
                </div>
                <div class="d-flex justify-content-center text1" style="margin-top: 10px">
                  <%= link_to "Don't have an account yet ?", new_user_registration_path, class: "text1" %>
                </div>
              </div>
            </div>
          </div>
        </div>


    </section>
  </div>
<% end %>
